---
layout: default
title_localized:
  en: Amenities | Hotel Zen Tokyo
  ja: Amenities | Hotel Zen Tokyo
meta_description_localized:
  en: Offers
  ja: Offers
permalink_localized:
  en: /amenities/
  ja: /amenities/
published_localized:
  en: true
  ja: true
meta_tags:
  robots:
---

<!-- Offers Banner -->
<section class="page-banner text-center">
  {% regionblock banner, type:image %}
    <img src="/assets/images/amenities/amenities-banner.jpg" alt="">
  {% endregionblock %}
  <div class="inner-banner-content">
    {% regionblock banner_heading, type:header %}
      <h1 tabindex="0">facilities and amenities</h1>
    {% endregionblock %}
  </div>
</section>

<!-- Amenities listing -->
<section class="amenities">
  <h2>Luggage Storage</h2>
  <div class="amenities__row">
    {% assign items = site.data._models.amenities | sort: 'order' | where: "category","Luggage Storage" %}
    {% for item in items %}
      <div class="amenities__item">
        <img src="{{ item.image.url_medium }}" alt="{{ item.title }}">
        <p>{{ item.title }}</p>
      </div>
    {% endfor %}
  </div>
  <h2>Amenities and Services</h2>
  <div class="amenities__row">
    {% assign items = site.data._models.amenities | sort: 'order' | where: "category","Amenities & Services" %}
    {% for item in items %}
      <div class="amenities__item">
        <img src="{{ item.image.url_medium }}" alt="{{ item.title }}">
        <p>{{ item.title }}</p>
      </div>
    {% endfor %}
  </div>
  <h2>Common Facilities</h2>
  <div class="amenities__row">
    {% assign items = site.data._models.amenities | sort: 'order' | where: "category","Common Facilities" %}
    {% for item in items %}
    <div class="amenities__item">
      <img src="{{ item.image.url_medium }}" alt="{{ item.title }}">
      <p>{{ item.title }}</p>
    </div>
    {% endfor %}
  </div>
  <h2>Entire List</h2>
  <div class="amenities__row">
    <div class="amenities__list">
      {% regionblock entire_list, type:text %}
      <ul>
        <li>Entire list 1</li>
        <li>Entire list 2</li>
        <li>Entire list 3</li>
        <li>Entire list 4</li>
        <li>Entire list 5</li>
        <li>Entire list 6</li>
        <li>Entire list 7</li>
        <li>Entire list 8</li>
        <li>Entire list 9</li>
        <li>Entire list 10</li>
        <li>Entire list 11</li>
        <li>Entire list 12</li>
        <li>Entire list 13</li>
        <li>Entire list 14</li>
        <li>Entire list 15</li>
      </ul>
      {% endregionblock %}
    </div>
  </div>
</section>

{% include forms/jotform/newsletter.html %}
