<section class="more-offers">
  <h4 tabindex="0">Special Offers & Packages</h4>
  <h2 tabindex="0">Book direct and save</h2>
  <div class="more-offers__row">
    <div class="more-offers__item">
      <div class="more-offers__item__inner">
        <figure class="more-offers__image">
          <a href="" tabindex="-1">
            <img src="/assets/images/offers/offer4.jpg" alt="Offer title">
          </a>
        </figure>
        <div class="more-offers__content">
          <a href="" class="link-btn">View Offer</a>
          <h3 tabindex="0"><a href="">Aeneapn commodo scelerisque mi sed ilperdiet</a></h3>
        </div>
      </div>
    </div>
    <div class="more-offers__item">
      <div class="more-offers__item__inner">
        <figure class="more-offers__image">
          <a href="">
            <img src="/assets/images/offers/offer4.jpg" alt="Offer title">
          </a>
        </figure>
        <div class="more-offers__content">
          <a href="" class="link-btn">View Offer</a>
          <h3 tabindex="0"><a href="">Aeneapn commodo scelerisque mi sed ilperdiet</a></h3>
        </div>
      </div>
    </div>
    <div class="more-offers__item">
      <div class="more-offers__item__inner">
        <figure class="more-offers__image">
          <a href="">
            <img src="/assets/images/offers/offer4.jpg" alt="Offer title">
          </a>
        </figure>
        <div class="more-offers__content">
          <a href="" class="link-btn">View Offer</a>
          <h3 tabindex="0"><a href="">Aeneapn commodo scelerisque mi sed ilperdiet</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-holder">
    <a href="" class="primary-btn"><span>View All Offers</span><i class="fas fa-angle-right"></i></a>
  </div>
</section>
