// Home Page Elements
// ==========================================================================

// Home page carousel styles

.banner {
  .carousel-item {
    height: 200px;
    @include media-breakpoint-up(md) {
      height: calc(100vh - 63px);
    }
    @include media-breakpoint-up(lg) {
      height: calc(100vh - 128px);
    }
    &:after {
      @include absolute-position(0,0,0,0,auto,auto);
      z-index: 1;
    }
  }
  .banner-content {
    @include absolute-position(50%,0,auto,0,auto,auto);
    z-index: 5;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-50%);
  }
  // .carousel-control-prev {
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 99;
  //   width: auto;
  //   border: 0;
  //   opacity: 1;
  // }
  // .carousel-control-next {
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: auto;
  //   z-index: 99;
  //   width: auto;
  //   border: 0;
  //   opacity: 1;
  // }
}

.indicators-control {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  margin: 0 auto;

  .primary-btn {
    &:hover {
      svg {
        border-left-color: $white !important;
      }
    }
    &.previous {
      &:hover {
        svg {
          border-right-color: $white !important;
        }
      }
    }
  }
}

.carousel-indicators {
  position: relative;
  bottom: 30px;
  align-items: center;
  margin: 0 auto;
  li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
  }
}

// Home page content styles

.twocol {
  @include fluid-layout;
  padding-right: 0;
  padding-left: 0;
  .twocol-row {
    @include make-row;
    margin-right: 0;
    margin-left: 0;
    &:nth-child(even) {
      .image {
        @include media-breakpoint-up(md) {
          order: 2;
        }
      }
    }
  }
  .content {
    @include make-col-ready;
    padding-right: 0;
    padding-left: 0;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    .content-wrap {
      max-width: 555px;
      margin: 0 auto;
      padding: 50px 20px 20px;
      @include media-breakpoint-up(md) {
        padding: 100px 15px 76px;
      }
      h4 {
        margin-bottom: 12px;
        color: $black;
      }
      h2 {
        margin-bottom: 25px;
      }
    }
    .image-wrap {
      height: 220px;
      @include media-breakpoint-up(md) {
        height: 432px;
      }
      &.overlap {
        margin-top: -40px;
      }
    }
    .intro-btn-holder {
      margin-top: 30px;
      text-align: right;
    }
    .btn-holder {
      margin-bottom: 25px;
    }
  }
  .image {
    @include make-col-ready;
    height: 400px;
    padding-right: 0;
    padding-left: 0;
    @include media-breakpoint-up(md) {
      @include make-col(6);
      height: auto;
    }
    &.image-tall {
      height: 500px;
      @include media-breakpoint-up(md) {
        height: auto;
      }
    }
  }
}

.content-grid-home__content {
  h4 {
    margin-bottom: 12px;
    color: #000;
  }

  h2 {
    margin-bottom: 25px;
  }
}

@include media-breakpoint-up(md) {
  .content-grid-home {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 925px;

    .content-grid-home__content {
      grid-column: 1 / 2;
      grid-row: 1;
      display: flex;
      align-items: center;

      .content-wrap {
        padding: 30px;
      }
    }

    .content-grid-home__image--large {
      grid-column: 2 / 3;
      grid-row: 1/3;

      > div {
        height: 100%;
        > div {
          height: 100%;
        }
      }
    }

    .content-grid-home__image--small {
      grid-column: 1;
      grid-row: 2;

      > div {
        height: 100%;

        > div {
          height: 100%;
        }
      }
    }

    &.large-image-left {
      .content-grid-home__content {
        grid-column: 2 / 3;
      }
      .content-grid-home__image--large {
        grid-column: 1 / 2;
      }
      .content-grid-home__image--small {
        grid-column: 2;
      }
    }
  }
}

.content-grid-home__content {
  .content-wrap {
    max-width: 555px;
    margin: 0 auto;
    padding: 50px 20px 20px;
  }
}

.image--objectwrap {
  > div {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}

.image--align-center {
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}