---
layout: default
---

{% assign offer = page %}
{% assign model = page %}

{% if site.active_lang == "ja" %}
 {% assign lang_url = '/ja' %}
{% endif %}

<!-- Offers Banner -->
<section class="page-banner text-center">
    <img src="/assets/images/offers/offers-banner.jpg" alt="">
  <div class="inner-banner-content">
    <h1 tabindex="0">{{ offer.title }}</h1>
  </div>
</section>

<!-- Offers Subnav -->
<div class="inner-sub-nav text-center">
  <ul>
    <li><a href="" class="{% if page.url_friendly_name == room.url_friendly_name %} active{% endif %}">Offers</a></li>
    <li><a href="" class="{% if page.url_friendly_name == room.url_friendly_name %} active{% endif %}">Offers</a></li>
    <li><a href="" class="{% if page.url_friendly_name == room.url_friendly_name %} active{% endif %}">Offers</a></li>
    <li><a href="" class="{% if page.url_friendly_name == room.url_friendly_name %} active{% endif %}">Offers</a></li>
    <li><a href="" class="{% if page.url_friendly_name == room.url_friendly_name %} active{% endif %}">Offers</a></li>
  </ul>
</div>

<section class="offer-details">
  <div class="offer-details__row">
    <div class="offer-details__image">
      <img src="{{ offer.image.url_large }}" alt="{{ offer.title }}">
    </div>
    <div class="offer-details__content">
      <div class="offer-details__content__inner">
        <h2 tabindex="0">{{ offer.title }}</h2>
        <p tabindex="0">Valid until 08 May 2012</p>
        {{ offer.long_description }}
        <div class="btn-holder">
          <a class="primary-btn" href="{{ offer.offer_url }}" target="_blank"><span>Book Offer</span><i class="fas fa-angle-right"></i></a>
        </div>
        <div class="terms" tabindex="0">Terms & Conditions</div>
        <ul class="offer-details__content__list" tabindex="0">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium.</li>
          <li>Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% include stay-zen.html %}

{% include more-offers.html %}

{% include forms/jotform/newsletter.html %}
